@model IEnumerable<emeal.Models.Recipe>

@foreach (var recipe in Model)
{
    <div class="product-search-result" onclick="displayRecipe(@Url.Action("Details", "Recipe", new {id = Html.ValueFor(rcp => recipe.Id)}))">
        <a href="@Url.Action("Details", "Recipe", new {id = Html.ValueFor(rcp => recipe.Id)})">
            <img src="@Html.ValueFor(rcp => recipe.PathToImage)" alt="Meal image"/>
            <p>@Html.ValueFor(rcp => recipe.Name)</p>
        </a>
    </div>
}