@model IEnumerable<emeal.Models.Product>
@{ ViewBag.Title = "Search by ingredients"; }

<div class="jumbotron">
    @using (Html.BeginForm("SearchByIngredientsResult", "Ingredient", FormMethod.Post, new {id = "ingredient-search-form"}))
    {
        <select id="ingredient-search-input" multiple="multiple" name="selectedProductIds">
            @foreach (var product in Model)
            {
                <option value="@Html.ValueFor(prod => product.Id)">
                    @Html.ValueFor(prod => product.Name)
                </option>
            }
        </select>
        <input class="btn btn-success" id="ingredient-search-submit" type="submit" value="Search"/>
    }
</div>

<div id="ingredient-search-results">
    <p>The recipes will appear here...</p>
</div>