@model IEnumerable<emeal.Models.Product>
@{ ViewBag.Title = "Search by ingredients"; }

<div class="jumbotron">
    <div class="row">
        <div class="col-lg-6">
            @using (Html.BeginForm("GetSearchResults", "Ingredient", FormMethod.Post))
            {
                <select id="ingredient-search-input" multiple="multiple">
                    @foreach (var product in Model)
                    {
                        <option value="@Html.ValueFor(prod => product.Id)">
                            @Html.ValueFor(prod => product.Name)
                        </option>
                    }
                </select>
                <input type="submit" value="Search" class="btn btn-success"/>
            }
        </div>
    </div>
</div>