@using emeal.Models;
@model IEnumerable<Product>
@{ ViewBag.Title = "Search by ingredients"; }

<div class="jumbotron">
    @using (Html.BeginForm("SearchByIngredientsResult", "Ingredient", FormMethod.Get))
    {
        <select id="ingredient-search-input" multiple="multiple">
            @foreach (var product in Model)
            {
                <option value="@Html.ValueFor(prod => product.Id)">
                    @Html.ValueFor(prod => product.Name)
                </option>
            }
        </select>
        <input type="submit" value="Search" class="btn btn-success"/>
    }
    <div id="ingredients-search-results">

    </div>
</div>