/*  */
/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Encode+Sans');

* {
    --colour-primary-dark: #075a54;
    --colour-primary: #a4a659;
    --colour-primary-light: #f8d46f;
    --colour-primary-accent: #f5a723;
    --colour-primary-text: #212121;
    --colour-secondary-text: #757575;
    --colour-primary-divider: #BDBDBD;
}

/*Font-Awesome copypaste :D*/

.gi-2x {
    font-size: 2em;
}

.gi-3x {
    font-size: 3em;
}

.gi-4x {
    font-size: 4em;
}

.gi-5x {
    font-size: 5em;
}

/*ACTUAL STYLESHEET STARTS HERE*/

body {
    background: var(--colour-primary);
    color: var(--colour-primary-text);
    font-family: 'Encode Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    padding-top: 50px;
    padding-bottom: 20px;
}

input,
select,
textarea {
    max-width: 280px;
}

#Steps > div,
#Ingredients > div {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgb(195, 195, 195);
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}

body > div.navbar.navbar-inverse.navbar-fixed-top,
#start-page-header {
    background: var(--colour-primary-accent);
    color: black;
}

#Steps, #Ingredients {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.ingredient-dropdown-content,
.step-dropdown-content {
    padding: 5%;
}

.recipe-details {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-around;
    justify-content: space-around;
}

.recipe-details-top {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.recipe-details-bottom {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: space-around;
    margin: auto;
}

.recipe-details-bottom-left,
.recipe-details-bottom-right {
    border: 1px solid rgb(195, 195, 195);
    border-radius: 5px;
    margin: auto;
    padding: 1%;
    text-align: center;
}

.recipe-details-bottom-left h5,
.recipe-details-bottom-right h5 {
    font-weight: bold;
}

.ingredient-search-dropdown {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 1%;
    margin: auto;
}

#ingredient-search-input {
    width: 100%;
}

html, body, #start-page-items {
    margin: 0;
    height: 100%;
}

#start-page-items {
    display: grid;
    grid-template-rows: 4% repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header" ". . . ." ". icons-left icons-right ." ". . . .";
    color: var(--colour-primary-text);
}

#start-page-header {
    grid-area: header;
}

#start-page-items-row-left {
    grid-area: icons-left;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#start-page-items-row-right {
    grid-area: icons-right;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#start-page-items a {
    padding: 2em;
}

#start-page-items a span {
    color: var(--colour-primary-light);
}

@media only screen and (max-width: 500px) {
    #start-page-items {
        display: grid;
        grid-template-rows: 8% 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "header header" "icons-left icons-right";
    }
}