.error-status-content {
  display: grid;
  grid-template: ". status-img ." ". status-info .";
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr;

  .error-status-content-img {
    grid-area: "status-img";
  }

  .error-status-content-info {
    grid-area: "status-info";
  }
}
