.btn-accent {
  background-color: $red;
  border-color: $red;
  color: $text-lightest;

  &:hover {
    background: $red-dark;
    color: $text-lighter;
  }
}

.btn-adaptive {
  background-color: inherit;
  border-color: none;
  color: inherit;

  &:hover {
    background: inherit;
    color: inherit + (inherit / 2);
  }
}
