// BACKGROUND
$background: #fff;

// PRIMARY
$green-light: #9ce652;
$green: #62bd41;
$green-dark: #107b31;

// SECONDARY
$red-lighter: #f6a49c;
$red-light: #ff395a;
$red: #cd2039;
$red-dark: #7b1039;

// TERTIARY
$brown: #624a00;

// TEXT
$text-primary: #212121;
$text-light: #757575;
$text-lighter: #a1a1a1;
$text-lightest: #eee;
