.navbar,
#start-page-header {
  background: $green;
  color: $text-primary;
}

.user-profile-pic {
  border-radius: 100%;
  height: 4rem;
  margin: auto 1rem auto auto;

  &:hover {
    background: $green-dark;
  }
}
