@{ ViewBag.Title = "Errorino!"; }

<div class="error-status-content">
    <img class="error-status-content-img" src="~/Content/img/status/418.jpg" alt="418 Status Error"/>

    <div class="error-status-content-info">
        <h1>Whoops!</h1>
        <h4>Another one.</h4>
        <p>
            You smart, you loyal - I appreciate that.
            <br/> Hope you can understand.
        </p>
    </div>
</div>