@{ ViewBag.Title = "Errorino!"; }

<img class="error-status-code-img" src="~/Content/img/status/500.jpg" alt="500 Status Error"/>

<h1>Whoops!</h1>
<h4>Another one.</h4>
<p>
    You smart, you loyal - I appreciate that.
    <br/> Hope you can understand.
</p>