@mixin grid {
  display: grid;
}

@mixin grid-inline {
  display: inline-grid;
}

@mixin grid-items-centered-row {
  justify-items: center;
}

@mixin grid-items-centered-column {
  align-items: center;
}

@mixin grid-items-centered {
  @include grid-items-centered-row;
  @include grid-items-centered-column;
}
