<div class="start-page-items">
    <div class="start-page-item">
        <a href="@Url.Action("SearchByIngredients", "Ingredient")" title="Find recipes by ingredients">
            <span class="glyphicon glyphicon-search gi-5x"></span>
        </a>
    </div>
    <div class="start-page-item">
        <a href="@Url.Action("RandomRecipe", "Recipe")" title="Random recipe">
@*            <img alt="Random" src="~/Content/img/square.svg" />*@
        </a>
    </div>
    <div class="start-page-item">
        <a href="@Url.Action("Index", "User")" title="Profile">
            <span class="glyphicon glyphicon-user gi-5x"></span>
        </a>
    </div>
    <div class="start-page-item">
        <a href="@Url.Action("Index", "Recipe")" title="Look up recipes by name">
            <span class="glyphicon glyphicon-book gi-5x"></span>
        </a>
    </div>
</div>
