<div class="start-page-items">
    <div class="start-page-row">
        <a href="@Url.Action("SearchByIngredients", "Ingredient")" title="Find recipes by ingredients">
            <span class="glyphicon glyphicon-search gi-8x"></span>
        </a>
        <a href="@Url.Action("Index", "User")" title="My profile">
            <span class="glyphicon glyphicon-user gi-8x"></span>
        </a>
    </div>
    <div class="start-page-row">
        <a href="@Url.Action("Random", "Recipe")" title="Random recipe">
            <span class="glyphicon glyphicon-question-sign gi-8x"></span>
        </a>
        <a href="@Url.Action("Index", "Recipe")" title="Look up recipes by name">
            <span class="glyphicon glyphicon-book gi-8x"></span>
        </a>
    </div>
</div>
<script src="~/Scripts/Site/dist/HomeIndex.js"></script>