#Steps > div,
#Ingredients > div
  background: rgba(255, 255, 255, .9)
  border: 1px solid rgb(195, 195, 195)
  border-radius: 10px
  margin: 2%
  padding: 2%

#Steps, #Ingredients
  display: flex
  flex-flow: row wrap
  margin: 0 auto

.ingredient-dropdown-content,
.step-dropdown-content
  padding: 5%

#recipe-details
  background: rgba(255, 255, 255, .15)
  margin: auto
  padding: 2%

#recipe-details-top
  align-content: center
  display: flex
  flex-flow: column wrap
  justify-content: center
  margin: auto
  text-align: center

#recipe-details-middle
  align-content: space-around
  display: flex
  flex-flow: row wrap
  justify-content: space-around
  margin: auto
  padding: 3rem 0

#recipe-details-bottom
  align-content: space-around
  display: flex
  flex-flow: row wrap
  justify-content: space-around
  margin: auto

#recipe-details-bottom-left,
#recipe-details-bottom-right
  border: 1px solid $colour-primary-divider
  border-radius: 5px
  margin: auto
  padding: 2.5% 4%
  text-align: center

#recipe-details-bottom-left h5,
#recipe-details-bottom-right h5
  font-weight: bold

#recipe-details-action-buttons
  align-content: center
  display: flex
  flex-flow: row wrap
  justify-content: center
  margin: auto
