.recipe-details {
  background: $red-lighter;

  .recipe-details-top {
    @include text-centered;
    background: linear-gradient(to bottom, $background 0%, $red-lighter 100%);
  }

  .recipe-details-info-bar {
    @include grid-inline;
    @include grid-items-centered;
    grid-template: "author difficulty time popularity rating";
    margin: auto;
    width: 100%;

    .info-bar-author {
      grid-area: author;
    }

    .info-bar-difficulty {
      grid-area: difficulty;
    }

    .info-bar-time {
      grid-area: time;
    }

    .info-bar-popularity {
      grid-area: popularity;
    }

    .-info-bar-rating {
      grid-area: rating;
    }
  }
}
