#ingredient-search-results {
  @include flex;
  @include flex-row(true);
  align-content: flex-start;
  justify-content: flex-start;
  margin: auto;

  a {
    background: $green-light;
    color: $text-primary;
    text-decoration: none;

    &:hover {
      box-shadow: 1px 1px 5px 1px $text-primary;
    }
  }
}

.ingredient-search-result {
  @include flex;
  @include flex-column(false);
  align-items: center;
  font-size: smaller;
  height: 15rem;
  justify-content: space-around;
  margin: auto;
  padding: 5%;
  width: 12.5rem;
}

.ingredient-search-dropdown {
  @include flex;
  @include flex-row(false);
  justify-content: space-around;
  margin: auto;
  padding: 1%;
}

#ingredient-search-input,
#my-allergies-input {
  width: 100%;
}
