#ingredient-search-results {
  align-content: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: auto;
  a {
    background: darken($primary, 25%);
    color: $text-primary;
    text-decoration: none;
    &:hover {
      box-shadow: 1px 1px 5px 1px $text-primary;
    }
  }
}

.ingredient-search-result {
  align-items: center;
  display: flex;
  flex-flow: column;
  font-size: smaller;
  height: 15rem;
  justify-content: space-around;
  margin: auto;
  padding: 5%;
  width: 12.5rem;
}

.ingredient-search-dropdown {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: auto;
  padding: 1%;
}

#ingredient-search-input,
#my-allergies-input {
  width: 100%;
}