// SHARED IN STYLING
@import "Shared/Colours";
@import "Shared/Buttons";
@import "Shared/Breakpoints";
@import "Shared/Fonts";
@import "Shared/Glyphicons";
@import "Shared/Navbar";
@import "Shared/Mixins/Flex";
@import "Shared/Mixins/Grid";
@import "Shared/Mixins/Text";
// STYLING
@import "Error/Index";
@import "Home/Index";
@import "Ingredient/SearchByIngredients";
@import "Recipe/Index";
@import "Recipe/Details";
html,
body {
  background: $background;
  color: $text-primary;
  font-family: $font-stack;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 50px;
  .container {
    height: 100%;
  }
}