.start-page-items {
  @include flex-column(true);
  align-content: space-around;
  height: 100%;
  justify-content: space-around;
  margin: auto;
  .start-page-row {
    @include flex-row(false);
    justify-content: space-evenly;
    a {
      padding: 5rem;
    }
    .start-search {
      color: $yellow;
      &:hover {
        background: $yellow;
        color: $background;
      }
    }
    .start-profile {
      color: $blue;
      &:hover {
        background: $blue;
        color: $background;
      }
    }
    .start-random {
      color: $green;
      &:hover {
        background: $green;
        color: $background;
      }
    }
    .start-recipes {
      color: $red;
      &:hover {
        background: $red;
        color: $background;
      }
    }
  }
}